# Authentication
JWT_SECRET=232f2ecf1c6d52bc358fc191fa7734e7f029ceb5dc95116ee87965a9457fc208

# Application
NODE_ENV=development
NEXT_PUBLIC_API_URL=http://localhost:3000/api

# Database (if needed later)
# DATABASE_URL=your-database-url-here